<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signup</title>
</head>
<body>
<h1>Signup</h1>

<!-- Display error message if any -->
<p th:if="${error}" th:text="${error}" style="color:red;"></p> <!-- Display error message here -->

<!-- Display success message if account is created successfully -->
<p th:if="${success}" th:text="${success}" style="color:green;"></p> <!-- Success message -->

<form th:action="@{/signup}" th:object="${signupRequest}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" th:field="*{username}" required />
    <br />
    <label for="email">Email:</label>
    <input type="email" id="email" th:field="*{email}" required />
    <br />
    <label for="password">Password:</label>
    <input type="password" id="password" th:field="*{password}" required minlength="8" title="Password must be at least 5 characters long" />
    <br />
    <label for="roles">Roles (comma separated):</label>
    <input type="text" id="roles" th:field="*{role}" />
    <br />
    <button type="submit">Signup</button>
</form>

</body>
</html>
